In [1]:
from bs4 import BeautifulSoup
import requests
import re
import datetime
import pandas as pd

In [37]:
def get_row_values(row_data):
    value_list = []
    for record in row_data:
        if '\n\t\t\tN/A\n\t\t' in record.get_text():
            value = None
        else:
            value = record.get_text()
        
        value_list.append(value)
        
    return value_list

def fetch_treasury_yields(year):
    if year == 'ALL':
        treasury_url = "https://home.treasury.gov/resource-center/data-chart-center/interest-rates/TextView?type=daily_treasury_yield_curve&field_tdr_date_value=all"
    else:
        treasury_url = "https://home.treasury.gov/resource-center/data-chart-center/interest-rates/TextView?type=daily_treasury_yield_curve&field_tdr_date_value=" + "%s"% year
        
    page = requests.get(treasury_url)
    soup = BeautifulSoup(page.content, 'html.parser')
    
    rates_table = soup.find(class_="views-table views-view-table cols-20")
    
    #oddrow_data = get_row_values(rates_table.select(".oddrow .text_view_data"))
    #evenrow_data = get_row_values(rates_table.select(".evenrow .text_view_data"))
    
    #return {'oddrow': oddrow_data, 'evenrow': evenrow_data}
    return rates_table

In [35]:
test_yields = fetch_treasury_yields(2017)

In [36]:
test_yields

<div class="view-content">
<div class="mm-news-row">
<time datetime="2022-01-25T15:00:00Z">January 25, 2022</time>
<div class="news-title"><a href="/news/featured-stories/tax-filing-season-challenges-illustrate-the-importance-of-funding-the-irs" hreflang="en">Tax Filing Season Challenges Illustrate the Importance of Funding the IRS </a></div>
</div>
<div class="mm-news-row">
<time datetime="2021-12-14T19:03:37Z">December 14, 2021</time>
<div class="news-title"><a href="/news/featured-stories/advancing-equity-analysis-in-tax-policy" hreflang="en">Advancing Equity Analysis in Tax Policy</a></div>
</div>
<div class="mm-news-row">
<time datetime="2021-11-04T15:32:58Z">November 4, 2021</time>
<div class="news-title"><a href="/news/featured-stories/preliminary-estimates-show-build-back-better-legislation-will-reduce-deficits" hreflang="en">Preliminary Estimates Show Build Back Better Legislation Will Reduce Deficits</a></div>
</div>
</div>

In [16]:
def is_desc(rates_list):
    rates_list = [i for i in rates_list if i is not None]
    return (sorted(rates_list, reverse=True) == rates_list)

def avg_pct_change(rec_list):
    rec_list = [i for i in rec_list if i is not None]
    pct_change_list = []

    if len(rec_list) == 0:
        return 0

    elif len(rec_list) > 0:
        for x in range(len(rec_list) - 1):
            if rec_list[x] == 0:
                pct_change_list.append(rec_list[x + 1])
            else:
                pct_change_val = (rec_list[x + 1] - rec_list[x]) / rec_list[x]
                pct_change_list.append(pct_change_val * 100)

        return round(mean(pct_change_list), 2)

def cvt_to_float(rec_list):
    float_list = []
    
    for x in rec_list:
        if x is None:
            pass
        else:
            x = float(x)
        
        float_list.append(x)
    
    return float_list
            

def process_row_info(in_list):
    valMap = []
    record_list = []

    counter = 0

    for x in range(len(in_list)):

        record_list.append(in_list[x])
        counter+=1

        if (counter % 13) == 0:
            record_list[0] = datetime.datetime.strptime(record_list[0], "%m/%d/%y").strftime("%Y-%m-%d")
            record_list[1:13] = cvt_to_float(record_list[1:13])

            record_list.extend((is_desc(record_list[1:13]), avg_pct_change(record_list[1:13])))
            valMap.append(record_list)
            record_list = []
            
    return valMap

def combined_scrapped_yields(yield_list):
    if len(yield_list) == 2:

        combined_map = []

        for key in yield_list.keys():
            combined_map.extend(process_row_info(yield_list.get(key)))
            
        return combined_map

In [17]:
from statistics import mean
y = combined_scrapped_yields(test_yields)

In [18]:
processed_yields = sorted(y, key=lambda x: x[0])

In [19]:
processed_yields[0:2]

[['2017-01-03',
  0.52,
  None,
  0.53,
  0.65,
  0.89,
  1.22,
  1.5,
  1.94,
  2.26,
  2.45,
  2.78,
  3.04,
  False,
  19.86],
 ['2017-01-04',
  0.49,
  None,
  0.53,
  0.63,
  0.87,
  1.24,
  1.5,
  1.94,
  2.26,
  2.46,
  2.78,
  3.05,
  False,
  20.6]]

In [ ]:
import mariadb

In [ ]:
import sys

# Instantiate Connection
try:
   conn = mariadb.connect(
      user="root",
      password="root",
      host="localhost",
       db='us_treasury_yield_rates',
      port=3306)
except mariadb.Error as e:
   print(f"Error connecting to MariaDB Platform: {e}")
   sys.exit(1)

In [ ]:
# Instantiate Cursor
cur = conn.cursor(buffered=True , dictionary=True)

In [ ]:
var_string = ', '.join('?' * len(processed_yields[0]))
var_string

In [ ]:
for records in processed_yields:
    query_string = 'INSERT INTO us_treasury_yield_rates.test_rates VALUES (%s);' % var_string
    cur.execute(query_string, records)
    conn.commit()

In [ ]:
query = f"SELECT * FROM us_treasury_yield_rates.test_rates"

cur.execute(query)

rows = cur.fetchall()

conn.close()

In [ ]:
result = []

for x in range(len(rows)):
    #print('now it is: ' + str(x))
    single_query = []

    for key in rows[x].keys():
        rec = str(rows[x].get(key))
        single_query.append(rec)

    result.append(single_query)
            
print(result[0:2])

In [ ]:
import wbgapi as wb

In [ ]:
indicators = {'NY.GDP.MKTP.CD':'GDP (current US$)'}

df = wb.data.DataFrame(indicators, 'USA', time=range(2000, 2020))

In [2]:
year_range = ""
for x in range(1990,2021):
    year_range += (str(x) + ',')
    
year_range

'1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,'

In [3]:
bea_url = "https://apps.bea.gov/api/data/?&UserID=<API KEY>&method=GetData&DataSetName=NIPA&TableName=T10105&SeriesCode=A191RC&LineDescription=Gross+domestic+product&Frequency=Q&Year=" + year_range + "&ResultFormat=json"
# data in millions

page2 = requests.get(bea_url)

In [4]:
import json
from urllib.request import urlopen
response = urlopen(bea_url)
data_json = json.loads(response.read())

In [5]:
import locale
locale.setlocale( locale.LC_ALL, 'en_US.UTF-8' ) 

raw_q_gdp = []

for x in data_json['BEAAPI']['Results']['Data']:
    
    if 'Gross domestic product' in x.values():
        y_gdp = []
        y_gdp.append(x['TimePeriod'])
        y_gdp.append(locale.atoi(x['DataValue']))
        #y_gdp.append(locale.atof(x['DataValue']))
        raw_q_gdp.append(y_gdp)

In [6]:
raw_q_gdp

[['1990Q1', 5872701],
 ['1990Q2', 5960028],
 ['1990Q3', 6015116],
 ['1990Q4', 6004733],
 ['1991Q1', 6035178],
 ['1991Q2', 6126862],
 ['1991Q3', 6205937],
 ['1991Q4', 6264540],
 ['1992Q1', 6363102],
 ['1992Q2', 6470763],
 ['1992Q3', 6566641],
 ['1992Q4', 6680803],
 ['1993Q1', 6729459],
 ['1993Q2', 6808939],
 ['1993Q3', 6882098],
 ['1993Q4', 7013738],
 ['1994Q1', 7115652],
 ['1994Q2', 7246931],
 ['1994Q3', 7331075],
 ['1994Q4', 7455288],
 ['1995Q1', 7522289],
 ['1995Q2', 7580997],
 ['1995Q3', 7683125],
 ['1995Q4', 7772586],
 ['1996Q1', 7868468],
 ['1996Q2', 8032840],
 ['1996Q3', 8131408],
 ['1996Q4', 8259771],
 ['1997Q1', 8362655],
 ['1997Q2', 8518825],
 ['1997Q3', 8662823],
 ['1997Q4', 8765907],
 ['1998Q1', 8866480],
 ['1998Q2', 8969699],
 ['1998Q3', 9121097],
 ['1998Q4', 9293991],
 ['1999Q1', 9411682],
 ['1999Q2', 9526210],
 ['1999Q3', 9686626],
 ['1999Q4', 9900169],
 ['2000Q1', 10002179],
 ['2000Q2', 10247720],
 ['2000Q3', 10318165],
 ['2000Q4', 10435744],
 ['2001Q1', 10470231],
 ['2001Q2', 10599000],
 ['2001Q3', 10598020],
 ['2001Q4', 10660465],
 ['2002Q1', 10783500],
 ['2002Q2', 10887460],
 ['2002Q3', 10984040],
 ['2002Q4', 11061433],
 ['2003Q1', 11174129],
 ['2003Q2', 11312766],
 ['2003Q3', 11566669],
 ['2003Q4', 11772234],
 ['2004Q1', 11923447],
 ['2004Q2', 12112815],
 ['2004Q3', 12305307],
 ['2004Q4', 12527214],
 ['2005Q1', 12767286],
 ['2005Q2', 12922656],
 ['2005Q3', 13142642],
 ['2005Q4', 13324204],
 ['2006Q1', 13599160],
 ['2006Q2', 13753424],
 ['2006Q3', 13870188],
 ['2006Q4', 14039560],
 ['2007Q1', 14215651],
 ['2007Q2', 14402082],
 ['2007Q3', 14564117],
 ['2007Q4', 14715058],
 ['2008Q1', 14706538],
 ['2008Q2', 14865701],
 ['2008Q3', 14898999],
 ['2008Q4', 14608208],
 ['2009Q1', 14430901],
 ['2009Q2', 14381236],
 ['2009Q3', 14448882],
 ['2009Q4', 14651248],
 ['2010Q1', 14764611],
 ['2010Q2', 14980193],
 ['2010Q3', 15141605],
 ['2010Q4', 15309471],
 ['2011Q1', 15351444],
 ['2011Q2', 15557535],
 ['2011Q3', 15647681],
 ['2011Q4', 15842267],
 ['2012Q1', 16068824],
 ['2012Q2', 16207130],
 ['2012Q3', 16319540],
 ['2012Q4', 16420386],
 ['2013Q1', 16629050],
 ['2013Q2', 16699551],
 ['2013Q3', 16911068],
 ['2013Q4', 17133114],
 ['2014Q1', 17144281],
 ['2014Q2', 17462703],
 ['2014Q3', 17743227],
 ['2014Q4', 17852540],
 ['2015Q1', 17991348],
 ['2015Q2', 18193707],
 ['2015Q3', 18306960],
 ['2015Q4', 18332079],
 ['2016Q1', 18425306],
 ['2016Q2', 18611617],
 ['2016Q3', 18775459],
 ['2016Q4', 18968041],
 ['2017Q1', 19153912],
 ['2017Q2', 19322920],
 ['2017Q3', 19558693],
 ['2017Q4', 19882965],
 ['2018Q1', 20143716],
 ['2018Q2', 20492492],
 ['2018Q3', 20659102],
 ['2018Q4', 20813325],
 ['2019Q1', 21001591],
 ['2019Q2', 21289268],
 ['2019Q3', 21505012],
 ['2019Q4', 21694458],
 ['2020Q1', 21481367],
 ['2020Q2', 19477444],
 ['2020Q3', 21138574],
 ['2020Q4', 21477597]]

In [7]:
def assign_dates(qlist):
    vals = { 'Q1' : '03-30'  ,  'Q2' : '06-30'  ,  'Q3' : '09-30', 'Q4' : '12-30' }
    
    for x in range(len(qlist)):
        cal_date = qlist[x][0][0:4] + "-" + vals[qlist[x][0][-2:]]
        qlist[x].extend([cal_date])
    
    return qlist

In [8]:
assign_dates(raw_q_gdp)

[['1990Q1', 5872701, '1990-03-30'],
 ['1990Q2', 5960028, '1990-06-30'],
 ['1990Q3', 6015116, '1990-09-30'],
 ['1990Q4', 6004733, '1990-12-30'],
 ['1991Q1', 6035178, '1991-03-30'],
 ['1991Q2', 6126862, '1991-06-30'],
 ['1991Q3', 6205937, '1991-09-30'],
 ['1991Q4', 6264540, '1991-12-30'],
 ['1992Q1', 6363102, '1992-03-30'],
 ['1992Q2', 6470763, '1992-06-30'],
 ['1992Q3', 6566641, '1992-09-30'],
 ['1992Q4', 6680803, '1992-12-30'],
 ['1993Q1', 6729459, '1993-03-30'],
 ['1993Q2', 6808939, '1993-06-30'],
 ['1993Q3', 6882098, '1993-09-30'],
 ['1993Q4', 7013738, '1993-12-30'],
 ['1994Q1', 7115652, '1994-03-30'],
 ['1994Q2', 7246931, '1994-06-30'],
 ['1994Q3', 7331075, '1994-09-30'],
 ['1994Q4', 7455288, '1994-12-30'],
 ['1995Q1', 7522289, '1995-03-30'],
 ['1995Q2', 7580997, '1995-06-30'],
 ['1995Q3', 7683125, '1995-09-30'],
 ['1995Q4', 7772586, '1995-12-30'],
 ['1996Q1', 7868468, '1996-03-30'],
 ['1996Q2', 8032840, '1996-06-30'],
 ['1996Q3', 8131408, '1996-09-30'],
 ['1996Q4', 8259771, '1996-12-30'],
 ['1997Q1', 8362655, '1997-03-30'],
 ['1997Q2', 8518825, '1997-06-30'],
 ['1997Q3', 8662823, '1997-09-30'],
 ['1997Q4', 8765907, '1997-12-30'],
 ['1998Q1', 8866480, '1998-03-30'],
 ['1998Q2', 8969699, '1998-06-30'],
 ['1998Q3', 9121097, '1998-09-30'],
 ['1998Q4', 9293991, '1998-12-30'],
 ['1999Q1', 9411682, '1999-03-30'],
 ['1999Q2', 9526210, '1999-06-30'],
 ['1999Q3', 9686626, '1999-09-30'],
 ['1999Q4', 9900169, '1999-12-30'],
 ['2000Q1', 10002179, '2000-03-30'],
 ['2000Q2', 10247720, '2000-06-30'],
 ['2000Q3', 10318165, '2000-09-30'],
 ['2000Q4', 10435744, '2000-12-30'],
 ['2001Q1', 10470231, '2001-03-30'],
 ['2001Q2', 10599000, '2001-06-30'],
 ['2001Q3', 10598020, '2001-09-30'],
 ['2001Q4', 10660465, '2001-12-30'],
 ['2002Q1', 10783500, '2002-03-30'],
 ['2002Q2', 10887460, '2002-06-30'],
 ['2002Q3', 10984040, '2002-09-30'],
 ['2002Q4', 11061433, '2002-12-30'],
 ['2003Q1', 11174129, '2003-03-30'],
 ['2003Q2', 11312766, '2003-06-30'],
 ['2003Q3', 11566669, '2003-09-30'],
 ['2003Q4', 11772234, '2003-12-30'],
 ['2004Q1', 11923447, '2004-03-30'],
 ['2004Q2', 12112815, '2004-06-30'],
 ['2004Q3', 12305307, '2004-09-30'],
 ['2004Q4', 12527214, '2004-12-30'],
 ['2005Q1', 12767286, '2005-03-30'],
 ['2005Q2', 12922656, '2005-06-30'],
 ['2005Q3', 13142642, '2005-09-30'],
 ['2005Q4', 13324204, '2005-12-30'],
 ['2006Q1', 13599160, '2006-03-30'],
 ['2006Q2', 13753424, '2006-06-30'],
 ['2006Q3', 13870188, '2006-09-30'],
 ['2006Q4', 14039560, '2006-12-30'],
 ['2007Q1', 14215651, '2007-03-30'],
 ['2007Q2', 14402082, '2007-06-30'],
 ['2007Q3', 14564117, '2007-09-30'],
 ['2007Q4', 14715058, '2007-12-30'],
 ['2008Q1', 14706538, '2008-03-30'],
 ['2008Q2', 14865701, '2008-06-30'],
 ['2008Q3', 14898999, '2008-09-30'],
 ['2008Q4', 14608208, '2008-12-30'],
 ['2009Q1', 14430901, '2009-03-30'],
 ['2009Q2', 14381236, '2009-06-30'],
 ['2009Q3', 14448882, '2009-09-30'],
 ['2009Q4', 14651248, '2009-12-30'],
 ['2010Q1', 14764611, '2010-03-30'],
 ['2010Q2', 14980193, '2010-06-30'],
 ['2010Q3', 15141605, '2010-09-30'],
 ['2010Q4', 15309471, '2010-12-30'],
 ['2011Q1', 15351444, '2011-03-30'],
 ['2011Q2', 15557535, '2011-06-30'],
 ['2011Q3', 15647681, '2011-09-30'],
 ['2011Q4', 15842267, '2011-12-30'],
 ['2012Q1', 16068824, '2012-03-30'],
 ['2012Q2', 16207130, '2012-06-30'],
 ['2012Q3', 16319540, '2012-09-30'],
 ['2012Q4', 16420386, '2012-12-30'],
 ['2013Q1', 16629050, '2013-03-30'],
 ['2013Q2', 16699551, '2013-06-30'],
 ['2013Q3', 16911068, '2013-09-30'],
 ['2013Q4', 17133114, '2013-12-30'],
 ['2014Q1', 17144281, '2014-03-30'],
 ['2014Q2', 17462703, '2014-06-30'],
 ['2014Q3', 17743227, '2014-09-30'],
 ['2014Q4', 17852540, '2014-12-30'],
 ['2015Q1', 17991348, '2015-03-30'],
 ['2015Q2', 18193707, '2015-06-30'],
 ['2015Q3', 18306960, '2015-09-30'],
 ['2015Q4', 18332079, '2015-12-30'],
 ['2016Q1', 18425306, '2016-03-30'],
 ['2016Q2', 18611617, '2016-06-30'],
 ['2016Q3', 18775459, '2016-09-30'],
 ['2016Q4', 18968041, '2016-12-30'],
 ['2017Q1', 19153912, '2017-03-30'],
 ['2017Q2', 19322920, '2017-06-30'],
 ['2017Q3', 19558693, '2017-09-30'],
 ['2017Q4', 19882965, '2017-12-30'],
 ['2018Q1', 20143716, '2018-03-30'],
 ['2018Q2', 20492492, '2018-06-30'],
 ['2018Q3', 20659102, '2018-09-30'],
 ['2018Q4', 20813325, '2018-12-30'],
 ['2019Q1', 21001591, '2019-03-30'],
 ['2019Q2', 21289268, '2019-06-30'],
 ['2019Q3', 21505012, '2019-09-30'],
 ['2019Q4', 21694458, '2019-12-30'],
 ['2020Q1', 21481367, '2020-03-30'],
 ['2020Q2', 19477444, '2020-06-30'],
 ['2020Q3', 21138574, '2020-09-30'],
 ['2020Q4', 21477597, '2020-12-30']]

In [9]:
def mil_to_tril(qlist):
    
    for x in range(len(qlist)):
        qlist[x].extend([round(qlist[x][1] / (10**6),2)])
    
    return qlist

In [10]:
q_gdp = mil_to_tril(raw_q_gdp)

In [13]:
q_gdp

[['1990Q1', 5872701, '1990-03-30', 5.87],
 ['1990Q2', 5960028, '1990-06-30', 5.96],
 ['1990Q3', 6015116, '1990-09-30', 6.02],
 ['1990Q4', 6004733, '1990-12-30', 6.0],
 ['1991Q1', 6035178, '1991-03-30', 6.04],
 ['1991Q2', 6126862, '1991-06-30', 6.13],
 ['1991Q3', 6205937, '1991-09-30', 6.21],
 ['1991Q4', 6264540, '1991-12-30', 6.26],
 ['1992Q1', 6363102, '1992-03-30', 6.36],
 ['1992Q2', 6470763, '1992-06-30', 6.47],
 ['1992Q3', 6566641, '1992-09-30', 6.57],
 ['1992Q4', 6680803, '1992-12-30', 6.68],
 ['1993Q1', 6729459, '1993-03-30', 6.73],
 ['1993Q2', 6808939, '1993-06-30', 6.81],
 ['1993Q3', 6882098, '1993-09-30', 6.88],
 ['1993Q4', 7013738, '1993-12-30', 7.01],
 ['1994Q1', 7115652, '1994-03-30', 7.12],
 ['1994Q2', 7246931, '1994-06-30', 7.25],
 ['1994Q3', 7331075, '1994-09-30', 7.33],
 ['1994Q4', 7455288, '1994-12-30', 7.46],
 ['1995Q1', 7522289, '1995-03-30', 7.52],
 ['1995Q2', 7580997, '1995-06-30', 7.58],
 ['1995Q3', 7683125, '1995-09-30', 7.68],
 ['1995Q4', 7772586, '1995-12-30', 7.77],
 ['1996Q1', 7868468, '1996-03-30', 7.87],
 ['1996Q2', 8032840, '1996-06-30', 8.03],
 ['1996Q3', 8131408, '1996-09-30', 8.13],
 ['1996Q4', 8259771, '1996-12-30', 8.26],
 ['1997Q1', 8362655, '1997-03-30', 8.36],
 ['1997Q2', 8518825, '1997-06-30', 8.52],
 ['1997Q3', 8662823, '1997-09-30', 8.66],
 ['1997Q4', 8765907, '1997-12-30', 8.77],
 ['1998Q1', 8866480, '1998-03-30', 8.87],
 ['1998Q2', 8969699, '1998-06-30', 8.97],
 ['1998Q3', 9121097, '1998-09-30', 9.12],
 ['1998Q4', 9293991, '1998-12-30', 9.29],
 ['1999Q1', 9411682, '1999-03-30', 9.41],
 ['1999Q2', 9526210, '1999-06-30', 9.53],
 ['1999Q3', 9686626, '1999-09-30', 9.69],
 ['1999Q4', 9900169, '1999-12-30', 9.9],
 ['2000Q1', 10002179, '2000-03-30', 10.0],
 ['2000Q2', 10247720, '2000-06-30', 10.25],
 ['2000Q3', 10318165, '2000-09-30', 10.32],
 ['2000Q4', 10435744, '2000-12-30', 10.44],
 ['2001Q1', 10470231, '2001-03-30', 10.47],
 ['2001Q2', 10599000, '2001-06-30', 10.6],
 ['2001Q3', 10598020, '2001-09-30', 10.6],
 ['2001Q4', 10660465, '2001-12-30', 10.66],
 ['2002Q1', 10783500, '2002-03-30', 10.78],
 ['2002Q2', 10887460, '2002-06-30', 10.89],
 ['2002Q3', 10984040, '2002-09-30', 10.98],
 ['2002Q4', 11061433, '2002-12-30', 11.06],
 ['2003Q1', 11174129, '2003-03-30', 11.17],
 ['2003Q2', 11312766, '2003-06-30', 11.31],
 ['2003Q3', 11566669, '2003-09-30', 11.57],
 ['2003Q4', 11772234, '2003-12-30', 11.77],
 ['2004Q1', 11923447, '2004-03-30', 11.92],
 ['2004Q2', 12112815, '2004-06-30', 12.11],
 ['2004Q3', 12305307, '2004-09-30', 12.31],
 ['2004Q4', 12527214, '2004-12-30', 12.53],
 ['2005Q1', 12767286, '2005-03-30', 12.77],
 ['2005Q2', 12922656, '2005-06-30', 12.92],
 ['2005Q3', 13142642, '2005-09-30', 13.14],
 ['2005Q4', 13324204, '2005-12-30', 13.32],
 ['2006Q1', 13599160, '2006-03-30', 13.6],
 ['2006Q2', 13753424, '2006-06-30', 13.75],
 ['2006Q3', 13870188, '2006-09-30', 13.87],
 ['2006Q4', 14039560, '2006-12-30', 14.04],
 ['2007Q1', 14215651, '2007-03-30', 14.22],
 ['2007Q2', 14402082, '2007-06-30', 14.4],
 ['2007Q3', 14564117, '2007-09-30', 14.56],
 ['2007Q4', 14715058, '2007-12-30', 14.72],
 ['2008Q1', 14706538, '2008-03-30', 14.71],
 ['2008Q2', 14865701, '2008-06-30', 14.87],
 ['2008Q3', 14898999, '2008-09-30', 14.9],
 ['2008Q4', 14608208, '2008-12-30', 14.61],
 ['2009Q1', 14430901, '2009-03-30', 14.43],
 ['2009Q2', 14381236, '2009-06-30', 14.38],
 ['2009Q3', 14448882, '2009-09-30', 14.45],
 ['2009Q4', 14651248, '2009-12-30', 14.65],
 ['2010Q1', 14764611, '2010-03-30', 14.76],
 ['2010Q2', 14980193, '2010-06-30', 14.98],
 ['2010Q3', 15141605, '2010-09-30', 15.14],
 ['2010Q4', 15309471, '2010-12-30', 15.31],
 ['2011Q1', 15351444, '2011-03-30', 15.35],
 ['2011Q2', 15557535, '2011-06-30', 15.56],
 ['2011Q3', 15647681, '2011-09-30', 15.65],
 ['2011Q4', 15842267, '2011-12-30', 15.84],
 ['2012Q1', 16068824, '2012-03-30', 16.07],
 ['2012Q2', 16207130, '2012-06-30', 16.21],
 ['2012Q3', 16319540, '2012-09-30', 16.32],
 ['2012Q4', 16420386, '2012-12-30', 16.42],
 ['2013Q1', 16629050, '2013-03-30', 16.63],
 ['2013Q2', 16699551, '2013-06-30', 16.7],
 ['2013Q3', 16911068, '2013-09-30', 16.91],
 ['2013Q4', 17133114, '2013-12-30', 17.13],
 ['2014Q1', 17144281, '2014-03-30', 17.14],
 ['2014Q2', 17462703, '2014-06-30', 17.46],
 ['2014Q3', 17743227, '2014-09-30', 17.74],
 ['2014Q4', 17852540, '2014-12-30', 17.85],
 ['2015Q1', 17991348, '2015-03-30', 17.99],
 ['2015Q2', 18193707, '2015-06-30', 18.19],
 ['2015Q3', 18306960, '2015-09-30', 18.31],
 ['2015Q4', 18332079, '2015-12-30', 18.33],
 ['2016Q1', 18425306, '2016-03-30', 18.43],
 ['2016Q2', 18611617, '2016-06-30', 18.61],
 ['2016Q3', 18775459, '2016-09-30', 18.78],
 ['2016Q4', 18968041, '2016-12-30', 18.97],
 ['2017Q1', 19153912, '2017-03-30', 19.15],
 ['2017Q2', 19322920, '2017-06-30', 19.32],
 ['2017Q3', 19558693, '2017-09-30', 19.56],
 ['2017Q4', 19882965, '2017-12-30', 19.88],
 ['2018Q1', 20143716, '2018-03-30', 20.14],
 ['2018Q2', 20492492, '2018-06-30', 20.49],
 ['2018Q3', 20659102, '2018-09-30', 20.66],
 ['2018Q4', 20813325, '2018-12-30', 20.81],
 ['2019Q1', 21001591, '2019-03-30', 21.0],
 ['2019Q2', 21289268, '2019-06-30', 21.29],
 ['2019Q3', 21505012, '2019-09-30', 21.51],
 ['2019Q4', 21694458, '2019-12-30', 21.69],
 ['2020Q1', 21481367, '2020-03-30', 21.48],
 ['2020Q2', 19477444, '2020-06-30', 19.48],
 ['2020Q3', 21138574, '2020-09-30', 21.14],
 ['2020Q4', 21477597, '2020-12-30', 21.48]]

In [ ]:
var_string2 = ', '.join('?' * len(raw_q_gdp[0]))
var_string2

In [ ]:
for records in raw_q_gdp:
    query_string = 'INSERT INTO us_treasury_yield_rates.test_gdp VALUES (%s);' % var_string2
    cur.execute(query_string, records)
    conn.commit()

In [ ]:
my_str =  "abcdefghij"
my_str = my_str[:-1]

In [ ]:
year_range[:-1]

In [21]:
import yfinance as yf
metadata = yf.Ticker("^GSPC")
data = yf.download("^GSPC", start="2021-01-01", end="2021-07-02")

[*********************100%***********************]  1 of 1 completed

In [22]:
col_list = ['Open', 'Close']
new_list = data[col_list]

In [23]:
new_list.reset_index(level=0, inplace=True)

In [26]:
new_list

          Date         Open        Close
0   2020-12-31  3733.270020  3756.070068
1   2021-01-04  3764.610107  3700.649902
2   2021-01-05  3698.020020  3726.860107
3   2021-01-06  3712.199951  3748.139893
4   2021-01-07  3764.709961  3803.790039
..         ...          ...          ...
121 2021-06-25  4274.450195  4280.700195
122 2021-06-28  4284.899902  4290.609863
123 2021-06-29  4293.209961  4291.799805
124 2021-06-30  4290.649902  4297.500000
125 2021-07-01  4300.729980  4319.939941

[126 rows x 3 columns]

In [27]:
new_list['Date'] = [str(item)[0:10] for item in new_list['Date']]
new_list['Open'] = [round(item,2) for item in new_list['Open']]
new_list['Close'] = [round(item,2) for item in new_list['Close']]
new_list['Ticker'] = metadata.info['shortName']
new_list['Type'] = metadata.info['quoteType']

/var/folders/d3/ft0xxf_x2fn8cd_dsd64d26h0000gn/T/ipykernel_1358/2319366354.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_list['Date'] = [str(item)[0:10] for item in new_list['Date']]
/var/folders/d3/ft0xxf_x2fn8cd_dsd64d26h0000gn/T/ipykernel_1358/2319366354.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_list['Open'] = [round(item,2) for item in new_list['Open']]
/var/folders/d3/ft0xxf_x2fn8cd_dsd64d26h0000gn/T/ipykernel_1358/2319366354.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_list['Close'] = [round(item,2) for item in new_list['Close']]
/var/folders/d3/ft0xxf_x2fn8cd_dsd64d26h0000gn/T/ipykernel_1358/2319366354.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_list['Ticker'] = metadata.info['shortName']
/var/folders/d3/ft0xxf_x2fn8cd_dsd64d26h0000gn/T/ipykernel_1358/2319366354.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_list['Type'] = metadata.info['quoteType']

In [30]:
new_list

           Date     Open    Close   Ticker   Type
0    2020-12-31  3733.27  3756.07  S&P 500  INDEX
1    2021-01-04  3764.61  3700.65  S&P 500  INDEX
2    2021-01-05  3698.02  3726.86  S&P 500  INDEX
3    2021-01-06  3712.20  3748.14  S&P 500  INDEX
4    2021-01-07  3764.71  3803.79  S&P 500  INDEX
..          ...      ...      ...      ...    ...
121  2021-06-25  4274.45  4280.70  S&P 500  INDEX
122  2021-06-28  4284.90  4290.61  S&P 500  INDEX
123  2021-06-29  4293.21  4291.80  S&P 500  INDEX
124  2021-06-30  4290.65  4297.50  S&P 500  INDEX
125  2021-07-01  4300.73  4319.94  S&P 500  INDEX

[126 rows x 5 columns]

In [ ]:
sp_list = new_list.values.tolist()

In [ ]:
sp_list[0]

In [ ]:
var_string3 = ', '.join('?' * len(sp_list[0]))
var_string3

for records in sp_list:
    query_string = 'INSERT INTO us_treasury_yield_rates.us_stock_market VALUES (%s);' % var_string3
    cur.execute(query_string, records)
    conn.commit()

In [14]:
import sqlalchemy as db

In [32]:
engine = db.create_engine("mariadb+pymysql://root:root@localhost/tyr_analysis?charset=utf8mb4")
connection = engine.connect()
metadata = db.MetaData()

In [ ]:
yield_table = db.Table('yield_rates', metadata, autoload=True, autoload_with=engine)

In [74]:
#Equivalent to 'SELECT * FROM census'
query = db.select([yield_table])
ResultProxy = connection.execute(query)
ResultSet = ResultProxy.fetchall()

In [75]:
ResultSet[:3]

[]

In [76]:
# Insert yields into mariadb using sqlalchemy
for records in processed_yields:
    '''query = db.insert(yield_table).values(date = processed_yields[0][0],
                                        Mo_1 = processed_yields[0][1],
                                       Mo_2 = processed_yields[0][2],
                                       Mo_3 = processed_yields[0][3],
                                       Mo_6 = processed_yields[0][4],
                                       Yr_1 = processed_yields[0][5],
                                       Yr_2 = processed_yields[0][6],
                                       Yr_3 = processed_yields[0][7],
                                       Yr_5 = processed_yields[0][8],
                                       Yr_7 = processed_yields[0][9],
                                       Yr_10 = processed_yields[0][10],
                                       Yr_20 = processed_yields[0][11],
                                       Yr_30 = processed_yields[0][12],
                                       desc_rates = processed_yields[0][13],
                                       pct_change = processed_yields[0][14]) 
    connection.execute(query)'''
    #conn.commit()
    
    
    query = db.insert(yield_table) 
    
    values_list = [{'date' : records[0],
                                        '1_Mo' : records[1],
                                       '2_Mo' : records[2],
                                       '3_Mo' : records[3],
                                       '6_Mo' : records[4],
                                       '1_Yr' : records[5],
                                       '2_Yr' : records[6],
                                       '3_Yr' : records[7],
                                       '5_Yr' : records[8],
                                       '7_Yr' : records[9],
                                       '10_Yr' : records[10],
                                       '20_Yr' : records[11],
                                       '30_Yr' : records[12],
                                       'desc_rates' : records[13],
                                       'pct_change' : records[14]}]
    
    ResultProxy = connection.execute(query, values_list)

In [67]:
processed_yields[1]

['2017-01-04',
 0.49,
 None,
 0.53,
 0.63,
 0.87,
 1.24,
 1.5,
 1.94,
 2.26,
 2.46,
 2.78,
 3.05,
 False,
 20.6]

In [17]:
gdp_table = db.Table('gdp', metadata, autoload=True, autoload_with=engine)

In [19]:
# Insert gdp into mariadb using sqlalchemy
for records in q_gdp:

    query = db.insert(gdp_table) 
    
    values_list = [{'year_q' : records[0],
                    'gdp_mil' : records[1],
                    'date' : records[2],
                    'gdp_tril' : records[3]}]
    
    ResultProxy = connection.execute(query, values_list)

In [33]:
us_stock_market_table = db.Table('us_stock_market', metadata, autoload=True, autoload_with=engine)

In [37]:
# Insert s&p500 into mariadb using sqlalchemy
'''for records in q_gdp:

    query = db.insert(gdp_table) 
    
    values_list = [{'date' : records[0],
                    'open' : records[1],
                    'close' : records[2],
                    'ticker' : records[3],
                    'type' : records[4]}]
    
    ResultProxy = connection.execute(query, values_list)'''

new_list.to_sql(name="us_stock_market", schema="tyr_analysis", con=engine, if_exists="append", index=False)

In [42]:
import platform
platform.system()

'Darwin'